/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* flex-box */

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* web-app */
.web-app {
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 60px);
}

aside {
    width: 20%;
    background-color: black;
    flex-shrink: 0;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

header {
    height: 60px;
    background-color: #080b12;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.container {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    height: 60px;
    background-color: #282828;
}


/* aside */

/* logo-large */
.logo-large {
    width: 50%;
    padding: 10px 5px;
}

/* home */
.home {
    color: white;
    border-left: 1px solid yellow;
}

.home>img {
   width:8%;
}

.home>span {
    padding: 5px;
    font-size: 10px;
}

/* search */
.search {
    color:#9e9e9e;
}

.search>img {
    width: 8%;
}

.search>span {
    padding: 5px;
    font-size: 10px;
}

/* library */
.library {
    color:#9e9e9e;
}

.library>img {
    width: 8%;
    
}

.library>span {
    padding: 5px;
    font-size: 10px;
}

/* adjustments aside */
.home-icons>div {
    padding: 0px 5px;
}

.home-icons {
    padding-bottom: 10px;
}

/* playlist */
.asside-box-1>h2 {
    color: white;
    padding:5px;
    font-size: 12px;
}


.playlist {
    color: #9e9e9e;
    font-size: 25px;
    padding: 0px 5px;
}

.playlist>span {
    font-size: 10px;
    padding: 5px;
}

.name-playlist>span {
    color:#9e9e9e ;
    padding: 8px 5px ;
    font-size: 10px;
}

.install>span {
    color: gray;
    font-size: 10px;
    padding: 5px;
}

.install>img {
    width: 6%;
}

.profile>img {
    width: 10%;
    background-color: #9e9e9e;
    clip-path: circle();
}

.profile>span {
    font-size: 10px;
    padding: 5px;
    color: white;
}

.aside-box-2 {
    margin: 10px;
    
}

.install {
    padding-bottom: 5px;
}

.profile {
    padding-top: 5px;
}

hr {
    border: 0.5px solid #9e9e9e;
}

.name-playlist {
    padding-top: 10px;
}

/* header */
.container-header {
    display: flex;
    flex-direction: row-reverse;
    
    
}

.button-header {
    color: white;
    background-color: #080b12;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid white;
}

/* CONTENT */
.container-menu>a {
    color:#9e9e9e;
    font-size: 12px;
    padding:10px;
    text-decoration: none;
}

.container-menu {
    justify-content: center;
}

.title-first>h1 {
    color: white;
    font-size: 20px;
    padding: 15px 25px;
}

.first-tracks {
    margin: 0px 15px;
}

.card-up {
    width: calc(100% / 6 - 15px);
    margin: 0px 10px;

}

.card-text-up>h2 {
    color: white;
    font-size: 13px;
    padding-top: 10px;
}

.card-text-up>span {
    color:#9e9e9e; 
    font-size: 10px;
    padding-top: 5px;
}

.card-text-up {
    align-items: center;
    text-align: center;
}

.title-second>span {
    color:#9e9e9e; 
    font-size: 10px;
    padding: 0px 25px;
}

.title-second>h1 {
    margin: 10px 25px;
    color: white;
    font-size: 20px;
}

.title-second {
    margin-top: 30px;
}

.second-tracks {
    margin: 25px 15px 0px 15px;
}

.card-2 {
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}

.title-third {
    margin-top: 10px;
} 

.title-third>h1 {
    margin: 10px 25px;
    color: white;
    font-size: 20px;
}


.title-third>span {
    color:#9e9e9e; 
    font-size: 10px;
    padding: 0px 25px;
} 


.card-circle {
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}

.card-circle>img {
    margin-top: 25px;
    clip-path: circle();
}