/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* flex-box */

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* web-app */
.web-app {
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 60px);
}

aside {
    width: 150px;
    background-color: black;
    flex-shrink: 0;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

header {
    height: 60px;
    background-color: #000000;
    flex-direction: column;
    display: flex;
    position: fixed;
    justify-content: center;
    width: calc(100% - 150px);
    opacity: 0.8;
}

.container {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    height: 60px;
    background-color: #282828;
}


/* aside */

/* logo-large */
.logo-large {
    width: 60%;
    padding: 10px;
}

.logo-small {
    display: none;
}

/* home */
.home {
    color: white;
    border-left: 1px solid yellow;
}

.home>img {
    width: 8%;
    filter: contrast(0.5);
}

.home>span {
    padding: 5px;
    font-size: 10px;
}

/* search */
.search {
    color: #9e9e9e;
}

.search>img {
    width: 8%;
}

.search>span {
    padding: 5px;
    font-size: 10px;
}

/* library */
.library {
    color: #9e9e9e;
}

.library>img {
    width: 8%;

}

.library>span {
    padding: 5px;
    font-size: 10px;
}

/* adjustments aside */
.home-icons>div {
    padding: 0px 10px;
}

/* playlist */
.asside-box-1>h2 {
    color: white;
    padding: 10px;
    font-size: 12px;
}


.playlist {
    color: #9e9e9e;
    font-size: 25px;
    padding: 0px 10px;
}

.playlist>span {
    font-size: 10px;
    padding: 5px;
}

.name-playlist>span {
    color: #9e9e9e;
    padding: 8px 10px;
    font-size: 10px;
}

.install>span {
    color: gray;
    font-size: 10px;
    padding: 5px;
}

.install>img {
    width: 6%;
}

.profile>img {
    width: 10%;
    background-color: #9e9e9e;
    clip-path: circle();
}

.profile>span {
    font-size: 10px;
    padding: 5px;
    color: white;
}

.aside-box-2 {
    margin: 10px;

}

.install {
    padding-bottom: 5px;
}

.profile {
    padding-top: 5px;
}

hr {
    border: 0.5px solid #9e9e9e;
}

.name-playlist {
    padding-top: 10px;
}

/* header */
.container-header {
    display: flex;
    flex-direction: row-reverse;


}

.button-header {
    color: white;
    background-color: #080b12;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid white;
    margin-right: 25px;
}

/* CONTENT */
.container-menu>a {
    color: #9e9e9e;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
}

.container-menu {
    justify-content: center;
    margin-top: 60px;
}

.title-first>h1 {
    color: white;
    font-size: 20px;
    padding: 15px 25px;
}

.first-tracks {
    margin: 0px 15px;
}

.card-up {
    width: calc(100% / 6 - 15px);
    margin: 0px 10px;

}

.card-text-up>h2 {
    color: white;
    font-size: 13px;
    padding-top: 10px;
}

.card-text-up>span {
    color: #9e9e9e;
    font-size: 10px;
    padding-top: 5px;
}

.card-text-up {
    align-items: center;
    text-align: center;
}

.title-second>span {
    color: #9e9e9e;
    font-size: 10px;
    padding: 0px 25px;
}

.title-second>h1 {
    margin: 10px 25px;
    color: white;
    font-size: 20px;
}

.title-second {
    margin-top: 30px;
}

.second-tracks {
    margin: 25px 15px 0px 15px;
}

.card-2 {
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}

.title-third {
    margin-top: 10px;
}

.title-third>h1 {
    margin: 10px 25px;
    color: white;
    font-size: 20px;
}


.title-third>span {
    color: #9e9e9e;
    font-size: 10px;
    padding: 0px 25px;
}


.card-circle {
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}

.card-circle>img {
    margin-top: 25px;
    clip-path: circle();
}

/* hover */
.container-menu>a:hover {
    color: white;
}


.button-header:hover {
    transform: scale(1.2);
    cursor:pointer;
}

.home:hover {
    cursor: pointer;
}

.search:hover {
    color: white;
    cursor: pointer;
} 

.library:hover {
    color: white;  
    cursor: pointer;
} 

.playlist:hover{
    color: white;
    cursor: pointer;
}

.name-playlist>span:hover {
    color: white;
    cursor: pointer;
}

.install>span:hover {
    color: white;
    cursor: pointer;
}


/* media query for medium */
@media screen and (max-width:878px) {
    .container-menu {
        justify-content: center;
        margin-top: 60px;
        flex-wrap: wrap;
    }

    .container-menu>a {
        color: #9e9e9e;
        font-size: 10px;
        text-decoration: none;
        width: calc(100% / 5 - 40px);
        margin: 5px 20px;
        text-align: center;
        padding: 5px;
    }

    .card-up {
        width: calc(100% / 4 - 20px);
        margin: 0px 10px;
        flex-wrap: wrap;
        margin: 10px;
    }

    .first-tracks {
        margin: 0px 15px;
        flex-wrap: wrap;
    }

    .card-circle {
        width: calc(100% / 4 - 20px);
        margin: 0px 10px;
    }

    .card-2 {
        width: calc(100% / 4 - 20px);
        margin: 0px 10px;
    }
}

/* / media query for medium */


/* media query for small */

@media screen and (max-width: 639px) {
    .container-menu>a {
        color: #9e9e9e;
        font-size: 10px;
        text-decoration: none;
        width: calc(100% / 3 - 40px);
        margin: 5px 20px;
        text-align: center;
        padding: 5px;
    }

    .card-up {
        width: calc(100% / 2 - 20px);
        margin: 0px 10px;
        flex-wrap: wrap;
        margin: 10px;
    }

    .card-circle {
        width: calc(100% / 2 - 20px);
        margin: 0px 10px;
    }

    .card-2 {
        width: calc(100% / 2 - 20px);
        margin: 0px 10px;
    }

}

/* / media query for small */


/* media query for extra-small */

@media screen and (max-width:552px) {
    .logo-l {
        display: none;
    }

    .logo-small {
        display: block;
    }

    .logo-large {
        width: 90%;
        padding: 10px;
    }


    aside {
        width: 50px;
        background-color: black;
        flex-shrink: 0;
        justify-content: space-between;
    }

    .home>span {
        padding: 5px;
        font-size: 10px;
        display: none;
    }

    .search>span {
        padding: 5px;
        font-size: 10px;
        display: none;
    }


    .library>span {
        padding: 5px;
        font-size: 10px;
        display: none;
    }

    .home>img {
        width: 80%;
    }

    .search>img {
        width: 80%;
    }

    .library>img {
        width: 80%;
    }

    .asside-box-1>h2 {
        color: white;
        padding: 10px;
        font-size: 12px;
        display: none;
    }


    .playlist {
        color: #9e9e9e;
        font-size: 25px;
        padding: 0px 10px;
        display: none;
    }

    .playlist>span {
        font-size: 10px;
        padding: 5px;
        display: none;
    }

    .name-playlist>span {
        color: #9e9e9e;
        padding: 8px 10px;
        font-size: 10px;
        display: none;
    }

    .install>span {
        color: gray;
        font-size: 10px;
        padding: 5px;
        display: none;
    }

    hr {
        display: none
    }

    .install>img {
        width: 50%;
        margin-left: 5px;
    }

    .profile>img {
        width: 80%;
        background-color: #9e9e9e;
        clip-path: circle();
    }

    .profile>span {
        font-size: 10px;
        padding: 5px;
        color: white;
        display: none;
    }

    header {
        width: calc(100% - 50px);
    }

    
    .container-menu>a {
        color: #9e9e9e;
        font-size: 10px;
        text-decoration: none;
        width: calc(100% / 4 - 30px);
        margin: 5px 15px;
        text-align: center;
        padding: 6px 0px;
    }

    .home-icons>div {
        padding: 5px 10px;
    }
    
}
/* / media query for extra-small */


/* media query for height 221px */
@media screen and (max-height:221px) {
    aside {
        width: 250px;
        background-color: black;
        flex-shrink: 0;
        overflow: hidden;
    }

    .web-app {
        background-color: #141922;
        width: 100%;
        height: calc(100vh - 40vh);
    }

    header {
        height: 40vh;
        background-color: #000000;
        flex-direction: column;
        display: flex;
        position: fixed;
        justify-content: center;
        width: calc(100% - 250px);
        opacity: 0.8;
        z-index: 1;
    }

    footer {
        height: 40vh;
        background-color: #282828;
    }

    .container-menu {
        justify-content: center;
        margin-top: 90px;
    }

    .container-menu>a {
        color: #9e9e9e;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
    }

    .button-header {
        color: white;
        background-color: #080b12;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 20px;
        border: 1px solid white;
        margin-right: 10px;
    }

    .logo-large {
        width: 75%;
        padding: 10px;
    }

    .home>img {
        width: 15%;
        filter: contrast(0.5);
    }

    .home>span {
        padding: 5px;
        font-size: 15px;
    }

    .home-icons>div {
        padding: 6px 10px;
    }
}
/* / media query for height 221px */